* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
}

.product {
    max-width: 400px;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #796f6f;
}

.product h3 {
    font-weight: 500;
    margin: .8rem 0;
    font-weight: 800;
}

.product img {
    width: auto;
    height: 300px;
    max-width: 300px;
    display: block;
    margin: auto;
    object-fit: cover;
}

#price {
    margin-top: 1.1rem;
    color: darkorange;
    font-weight: 600;
}

.product p {
    margin-top: .5rem;
    color: #796f6f;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    font-weight: 600;
    display: block;
    margin: 8px 0;
}

button {
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #e2ad1d;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.contaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parent {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-content: center;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .container {
        justify-content: center;
    }
}