* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#A9A9A9, #008B8B);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: initial;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.product {
    max-width: 400px;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #c4c4c4;
}

.product h3 {
    font-weight: 500;
}

.product img {
    width: auto;
    height: 300px;
    max-width: 300px;
    display: block;
    margin: auto;
}

#price {
    color: darkorange;
    font-weight: 600;
}

.product p {
    color: #796f6f;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    font-weight: 600;
    display: block;
    margin: 8px 0;
}

button {
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #e2ad1d;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.contaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parent {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-content: center;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}