<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./style/style.css" />
</head>

<body>
    <nav>
        <a href="#" class="logo">logo</a>
        <ul>
            <li>
                <a class="active" href="https://shop-gmc.herokuapp.com/index.html">home</a
          >
        </li>
        <li>
          <a href="https://shop-gmc.herokuapp.com/add.html">add product</a>
            </li>
            <li><a href="https://shop-gmc.herokuapp.com/login.html">login</a></li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/register.html">signup</a>
            </li>
        </ul>
    </nav>
    <h1>Our products</h1>

    <section class="container">
        <!-- <div class="product">
        <h3>product Name</h3>
        <h4>Small description</h4>
        <img
          src="https://i5.walmartimages.com/asr/949b3d42-8f36-43b1-a7f5-6d7ecd2f3b93.d19162940a28e3ff1139216526dec307.jpeg"
          alt=""
        />
        <h4 id="price">price : 450DA</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          autem quasi itaque!
        </p>
      </div> -->
    </section>

    <section class="parent" id="parent">
        <div class="contaner">
            <h4>Update your product</h4>
            <input type="text" id="name" placeholder="Your product name please" />
            <input type="number" id="price" placeholder="Your product price please" />
            <input type="text" id="desc" placeholder="Description of product" />
            <input type="text" id="img" placeholder="Your image of product" />
            <p id="result"></p>
            <button id="btn">Update product</button>
            <button style="background-color: red; color: white" id="delete">
          Delete product
        </button>
            <button id="close">Cancel</button>
        </div>
    </section>

    <script src="./script/home.js"></script>
</body>

</html>