<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/main.css" />
</head>

<body>
    <nav>
        <a href="https://shop-gmc.herokuapp.com/">
            <h3 class="logo">Shop</h3>
        </a>

        <ul>
            <li>
                <a href="https://shop-gmc.herokuapp.com/">Home</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/add.html">Add product</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/login.html">Login</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/register.html">Sign up</a>
            </li>
        </ul>

        <img height="35px" width="35px" id="menu" src="./images/menu.png" alt="" />
    </nav>
    <ul class="menu-mobile">
        <li>
            <a href="https://shop-gmc.herokuapp.com/">Home</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/add.html">Add product</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/login.html">Login</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/register.html">Sign up</a>
        </li>
    </ul>

    <section class="container"></section>

    <section class="parent" id="parent">
        <div class="contaner">
            <h4>Update your product</h4>
            <input type="text" id="name" placeholder="Your product name please" />
            <input type="number" id="price" placeholder="Your product price please" />
            <input type="text" id="desc" placeholder="Description of product" />
            <input type="text" id="img" placeholder="Your image of product" />
            <p id="result"></p>
            <button id="btn">Update product</button>
            <button style="background-color: red; color: white" id="delete">
          Delete product
        </button>
            <button id="close">Cancel</button>
        </div>
    </section>

    <script src="./script/home.js"></script>
    <script src="./script/main.js"></script>
</body>

</html>