<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./style/main.css" />
    <link rel="stylesheet" href="./style/add.css" />
</head>

<body>
    <nav>
        <a href="https://shop-gmc.herokuapp.com/">
            <h3 class="logo">Shop</h3>
        </a>

        <ul>
            <li>
                <a href="https://shop-gmc.herokuapp.com/">Home</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/add.html">Add product</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/login.html">Login</a>
            </li>
            <li>
                <a href="https://shop-gmc.herokuapp.com/register.html">Sign up</a>
            </li>
        </ul>

        <img height="35px" width="35px" id="menu" src="./images/menu.png" alt="" />
    </nav>
    <ul class="menu-mobile">
        <li>
            <a href="https://shop-gmc.herokuapp.com/">Home</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/add.html">Add product</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/login.html">Login</a>
        </li>
        <li>
            <a href="https://shop-gmc.herokuapp.com/register.html">Sign up</a>
        </li>
    </ul>

    <div class="contaner">
        <h4 id="title">Hello login in ur account</h4>
        <input type="email" id="email" placeholder="Your email please" />
        <input type="password" id="password" placeholder="Your password" />
        <button id="btn">login</button>
        <p id="result"></p>
    </div>

    <script>
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const btn = document.getElementById("btn");
        const result = document.getElementById("result");

        btn.addEventListener("click", () => {
            const payload = {
                email: email.value,
                password: password.value,
            };
            fetch("https://shop-gmc.herokuapp.com/login", {
                method: "POST",
                body: JSON.stringify(payload),
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((res) => {
                res.json().then((data) => {
                    console.log(data);
                    result.innerText = data.message;
                });
            });
        });
    </script>
    <script src="./script/main.js"></script>
</body>

</html>